@model IEnumerable<Jerry.Models.RegisterViewModel>
@{
    ViewBag.Title = "ListUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a href="@Url.Action("Register")">
        <i class="fa fa-plus"></i><span>Registrar nuevo Usuario</span>
    </a><span>|</span>
    <a href="@Url.Action("Details","Correo")">
        <i class="fa fa-arrow-left"></i><span>Volver a Configuraciones</span>
    </a>
</p>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Usuarios</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>@Html.DisplayNameFor(model => model.rolName)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => item.Email)</td>
                        <td>@Html.DisplayFor(model => item.rolName)</td>
                        <td>
                            <a href="@Url.Action("Edit","Account",new { id = item.id })">
                                <i class="fa fa-pencil"></i><span>Editar</span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
