@using Jerry.Models
@model Jerry.Models.Cliente

@{
    ViewBag.Title = "Cliente: "+Model.nombreCompleto;
    Layout = "~/Views/Shared/_Layout.cshtml";
    Reservacion newRes = new Reservacion();
    newRes.clienteID = Model.clienteID;
}

<p>
    <a href="@Url.Action("Index")">
        <i class="glyphicon glyphicon-arrow-left"></i><span>Regresar a Lista de Clientes</span>
    </a> 
</p>

@Html.Partial("../Clientes/Partial_ClienteDetailsSummary", Model)

<p>
    <a href="@Url.Action("Create","Reservacion", new {id = Model.clienteID })">
        <i class="fa fa-calendar-plus-o"></i><span>Registrar nueva reservación de salón</span>
    </a><span>|</span>
    <a href="@Url.Action("Create","Banquetes", new {id = Model.clienteID })">
        <i class="fa fa-cutlery"></i><span>Registrar nuevo banquete</span>
    </a>
</p>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Historial de Eventos</h3>
    </div>
    <div class="panel-body">
        @Html.Partial("../Eventos/Partial_ListEventos", Model.eventos)
    </div>
</div>
