@model Jerry.Models.Cliente

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<a href="@Url.Action("Index")">
    <i class="glyphicon glyphicon-arrow-left"></i> Regresar/Lista de Clientes
</a>
<br />
<br />
<div class="panel panel-info">
    <div class="panel-heading">
        <span class="panel-title">
            Información del Cliente
        </span>
    </div>
    <div class="panel-body">
        <div>
            <hr />
            <dl class="dl-horizontal col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nombre)
                </dd>
            </dl>
            <dl class="dl-horizontal col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.apellidoP)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.apellidoP)
                </dd>
            </dl>
            <dl class="dl-horizontal col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.apellidoM)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.apellidoM)
                </dd>                
            </dl>
            <dl class="dl-horizontal col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.email)
                </dd>
            </dl>
            <dl class="dl-horizontal col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.telefono)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.telefono)
                </dd>
            </dl>
</div>
    </div>
    <div class="col-md-12">
        <p>
            <a href="@Url.Action("Edit", new { id = Model.clienteID })">
                <i class="fa fa-pencil-square-o"></i> Editar
            </a>
        </p>
    </div>
</div>
