<!DOCTYPE html>
<html>
<head>
    @*<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <title class="hidden-print">@ViewBag.Title - Jerry's Control System</title>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/Content/template")
    @Styles.Render("~/Content/icons")
    @Styles.Render("~/Content/jqueryui")
    @Styles.Render("~/bower_componentes/calendar")
</head>
<body>
    <div id="wrapper">
        
        <nav class="navbar navbar-default navbar-cls-top hidden-print" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                         
                <ul class="navbar-brand">
                    <li class="text-center">
                    <a id="linkLogo" href="@Url.Action("Index","Home")" style="color:white">
                        Jerry's Control System
                    </a>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse" >
                @*Bienvenido &nbsp;@Html.ActionLink("Login", "Login", "Account", "", htmlAttributes: new { @class = "btn btn-danger square-btn-adjust" })*@
                        @Html.Partial("_LoginPartial")
            </div>
                
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side hidden-print" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center">
                        @*<img src="~/Images/logo.png" class="user-image img-responsive"/>*@
                    </li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="aside">
                            <a href="@Url.Action("Index", "Clientes")"><i class="fa fa-user fa-2x"></i>
                            <span>Clientes</span></a>
                        </li>
                        <li class="aside">
                            <a href="@Url.Action("Index", "Reservacion")"><i class="fa fa-calendar fa-2x"></i>
                            <span>Reservaciones</span></a>
                        </li>
                        <li class="aside">
                            <a href="@Url.Action("Index", "Banquetes")"><i class="fa fa-cutlery fa-2x"></i>
                            <span>Banquetes</span></a>
                        </li>
                    }

                    @if (User.IsInRole(Jerry.Models.ApplicationUser.UserRoles.ADMIN))
                    {
                        <li class="aside hidden-print">
                            <a href="@Url.Action("Details", "Correo")"><i class="fa fa-gears fa-2x"></i>
                            <span>Configuración</span></a>
                        </li>
                    }
                    <li class="aside">
                        <a href="@Url.Action("Contact", "Home")"><i class="fa fa-desktop fa-2x"></i>
                        <span>Contact</span></a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div class="container body-content">
                @RenderBody()
            </div>
            <hr class="hidden-print" />

            <footer class="hidden-print">
                <p>
                    <span> @DateTime.Now.Year - Events Reservation & Administration System.</span>
                    <span style="font-size: .8em">
                        <span>Developed by</span>
                        <a target="_blank" href="http://www.netcodesolutions.net/">
                            <span class="icon-netcode"><span class="path1"></span><span class="path2"></span></span> Netcode
                        </a>
                    </span>
                </p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/template")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bower")
    @RenderSection("scripts", required: false)

</body>
</html>
