@using Jerry.Models
@model Jerry.Models.Evento

@{ 
    bool printMode = ViewData["printMode"] != null ? (bool)ViewData["printMode"] : false;
    //Correo correoSettings = ViewData["correoSettings"] != null ? (Correo)ViewData["correoSettings"] : new Correo();
    Correo correoSettings = ViewBag.correoSettings != null ? (Correo)ViewBag.correoSettings : new Correo();
}
<div class="panel panel-info">
    <div class="panel-heading">
        <span class="panel-title">
            Información de la Reservación: @Model.nombreTipoEvento
        </span>
    </div>
    <div class="panel-body">
        <div>
            <div class="row">
                <div class="col-xs-6 form-group">
                    @Html.LabelFor(model => model.cliente.nombre)
                    <a href="@Url.Action("Edit","Clientes",new { id = Model.clienteID })">
                        @Html.DisplayFor(model => model.cliente.nombreCompleto)
                    </a>
                </div>
                <div class="col-xs-6 form-group">
                    @Html.LabelFor(model => model.cliente.email)
                    <a href="mailto:@(Model.cliente.email)?Subject=@(correoSettings.Subject)">
                        <span>@(Model.cliente.email)</span>
                    </a>
                </div>
                <div class="col-xs-3 form-group">
                    @Html.LabelFor(model => model.fechaEventoInicial)
                    <p class="form-control-static">@Html.DisplayFor(model => model.fechaEventoInicial)</p>
                </div>
                <div class="col-xs-3 form-group">
                    @Html.LabelFor(model => model.fechaEventoFinal)
                    <p class="form-control-static">@Html.DisplayFor(model => model.fechaEventoFinal)</p>
                </div>
                <div class="col-xs-3 form-group">
                    @Html.LabelFor(model => model.costo)
                    <p class="form-control-static">@Html.DisplayFor(model => model.costo)</p>
                </div>
                <div class="col-xs-3 form-group">
                    @Html.LabelFor(model => model.cantidadPagada)
                    <p class="form-control-static">@Html.DisplayFor(model => model.cantidadPagada)</p>
                </div>
                <div class="col-xs-3 form-group">
                    @Html.LabelFor(model => model.cantidadFaltante)
                    <p class="form-control-static">@Html.DisplayFor(model => model.cantidadFaltante)</p>
                </div>
                <div class="col-xs-3 form-group">
                    @Html.LabelFor(model => model.CantidadPersonas)
                    <p class="form-control-static">@Html.DisplayFor(model => model.CantidadPersonas)</p>
                </div>
                <div class="col-xs-3 form-group">
                    @Html.LabelFor(model => model.costoPorReservacion)
                    <p class="form-control-static">@Html.DisplayFor(model => model.costoPorReservacion)</p>
                </div>
                <div class="col-xs-3 form-group">
                    @Html.LabelFor(model => model.totalPorServicios)
                    <p class="form-control-static">@Html.DisplayFor(model => model.totalPorServicios)</p>
                </div>

                @*Detalles de banquete*@
                @if (Model.tipoDeEvento == Jerry.Models.Evento.TipoEvento.BANQUETE)
                {
                    @Html.Partial("../Banquetes/Partial_DetailsBanquete")
                }

                <div class="col-xs-12 form-group">
                    @Html.LabelFor(model => model.Detalles)
                    <p class="form-control-static">@Html.DisplayFor(model => model.Detalles)</p>
                </div>
            </div>
        </div>
        @if (!printMode) { 
        <nav class="hidden-print">
            <a href="@Url.Action("Edit",Model.controllerName, new { id = Model.eventoID })">
                <i class="fa fa-pencil-square-o"></i> Editar
            </a><span>|</span>
            <a href="@Url.Action("descargarContrato","Eventos", new { id=Model.eventoID, tipoContrato = Model.TipoContrato })">
                <i class="fa fa-file-word-o" aria-hidden="true"></i> Contrato
            </a>
        </nav>
        }
    </div>
</div>