@using Jerry.Models
@model Jerry.Models.Correo

@{
    ViewBag.Title = "Configuración";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Servicio> servicios = ViewBag.servicios;
}

<h2>@ViewBag.Title</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Correo</h3>
    </div>
    <!--Detalles de correo del administrador-->
    <div class="panel-body">
        @if (Model != null) { 
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Subject)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Subject)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Body)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Body)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.correoAdmin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.correoAdmin)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.smtpHost)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.smtpHost)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.puertoCorreo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.puertoCorreo)
            </dd>

        </dl>
        <a href="@Url.Action("Edit", new { id = Model.correoID})">
            <i class="fa fa-pencil"></i>Editar
        </a>
        }
        else
        {
            <div class="alert alert-warning">
                <strong>No ha sido configurado su correo electrónico</strong> como administrador, favor de hacer la configuracion en el siguiente 
                <a href="@Url.Action("Create")">enlace</a>.
            </div>
        }
    </div>
</div>
<p>
    <a href="@Url.Action("index","Salon")">
        <i class="glyphicon glyphicon-list-alt"></i>Salones
    </a>|
    <a href="@Url.Action("ListUsers","Account")">
        <i class="fa fa-users"></i>Usuarios
    </a>
</p>

@Html.Partial("../Servicios/Partial_CreateServicio", new Servicio())
@Html.Partial("../Servicios/Partial_ListServicios", servicios)
