@model IEnumerable<Jerry.Models.Correo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.To)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correoAdmin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contrasena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.smtpHost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.puertoCorreo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.To)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correoAdmin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contrasena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.smtpHost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.puertoCorreo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.correoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.correoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.correoID })
        </td>
    </tr>
}

</table>
