@model Jerry.Models.Banquete

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="@Url.Action("Index")">
    <i class="glyphicon glyphicon-arrow-left"></i>Regresar a Lista Banquetes
</a>
<br />
<br />
<div class="panel panel-info">
    <div class="panel-heading">
        Detalles de Banquete
    </div>
    <div class="panel-body">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.cliente.nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.cliente.nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.fechaBanquete)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fechaBanquete)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.telefono)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.telefono)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.descripcionServicio)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.descripcionServicio)
                </dd>

            </dl>
        </div>

        <a href="@Url.Action("Edit", new { id = Model.banqueteID})">
            <i class="fa fa-pencil"></i>Editar
        </a>
    </div>
</div>
