@using Jerry.Models
@model IEnumerable<Jerry.Models.Servicio>

@{
    bool selectMode = ViewData["selectMode"] != null ? (bool)ViewData["selectMode"] : false;
    bool showOptions = ViewData["showOptions"] != null ? (bool)ViewData["showOptions"] : true;
    bool detailsMode = ViewData["detailsMode"] != null ? (bool)ViewData["detailsMode"] : false;
    string externalFunction = ViewData["externalFunction"] != null ? (string)ViewData["externalFunction"] : string.Empty;
    Evento evento = ViewData["evento"] != null ? (Evento)ViewData["evento"] : new Evento();

    @*Variables para editar la lista de productos comprados*@
    bool editMode = false;
    bool found = false;
    List<ServiciosEnReservacion> serviciosReservados = null;
    ServiciosEnReservacion itemIndex = null;
    var listaDeServicios = Model.ToList();
    if (ViewData["serviciosSeleccionados"] != null)
    {
        serviciosReservados = (List<ServiciosEnReservacion>)ViewData["serviciosSeleccionados"];
        serviciosReservados = serviciosReservados.Where(ser => ser != null).ToList();
        editMode = serviciosReservados != null && serviciosReservados.Count() > 0 && !detailsMode;
        if (editMode)
        {
            var serviciosBorrados = serviciosReservados.Where(ser => ser.serviciosID == null).Select(ser => new Servicio(ser));
            listaDeServicios.AddRange(serviciosBorrados);
        }
    }

}
@if (listaDeServicios != null && listaDeServicios.Count() > 0)
{
<table id="tblServicios" class="table table-striped table-hover">
    <thead>
        <tr>
            @if (selectMode)
            {
                <th></th>
            }

            @if (selectMode || detailsMode)
            {
                <th width="1em">
                    Cantidad
                </th>
            }
            <th class="hidden">
                @Html.DisplayNameFor(model => model.serviciosID)
            </th>
            <th class="hidden">
                RowNo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            @if (!selectMode && showOptions)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @{ 
            int c = 0;
        }
            @foreach (var item in listaDeServicios) //Por cada servicio en la lista de servicios en el sistema
            {
                if (editMode || detailsMode) //Se busca el servicio reservado asociado al servicio en el renglon
                {
                    itemIndex = serviciosReservados.FirstOrDefault(serv => serv.serviciosID == item.serviciosID);
                    found = itemIndex != null; //Se encontro o no
                    if (!found && item.fueBorrado){
                        found = true;
                    }
                }

                <tr item-id="@c" @(found ? "default-selected" : "") row_num ="@c">
                    @if (selectMode)
                    {
                        <td></td>
                    }
                    @if (selectMode || detailsMode) //Si se encuentra, se pone la cantidad de servicios seleccionados
                    {
                        <td width="1em">
                            <input type="number" item-id="@c"
                                   id="producto@(item.serviciosID)" min="0"
                                   oninput="editarElemento(this)" class="form-control inputCantidad"
                                   value="@(item.fueBorrado?item.cantidadServicioBorrado:(((editMode||detailsMode) && found)?itemIndex.cantidad:0))"
                                   @(detailsMode?"disabled":"") />
                        </td>
                    }
                    <td class="hidden">
                        @Html.DisplayFor(modelItem => item.serviciosID)
                    </td>
                    <td class="hidden">
                        @c
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @if (!selectMode)
                        {
                            @*(found ? itemIndex.costo.ToString("C") : item.costo.ToString("C"))*@
                            if(!editMode && !detailsMode)
                            {
                                @item.costo.ToString("C");
                            }else {
                                @(item.fueBorrado ? item.costo : ((editMode || detailsMode) && found ? itemIndex.costo : 0))
                            }
                        }
                        else
                        {
                            <input class="form-control inputCosto" 
                                   data-mask="###0.00" data-mask-reverse="true" 
                                   id="item_costo" item-id="@c" name="costo@(item.serviciosID)"
                                   onkeyup="editarElemento(this)" value="@(item.fueBorrado?item.costo:(((editMode||detailsMode) && found)?itemIndex.costo:item.costo))">
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                    @if (!selectMode && showOptions)
                    {
                        <td>
                            <a style="cursor:pointer" onclick="confirmDelete(@(item.serviciosID))">
                                <i class="fa fa-remove"></i><span>Eliminar</span>
                            </a>
                        </td>
                    }
                </tr>
                c++;
            }
    </tbody>
</table>
}
else
{
    <div class="alert alert-warning">
        No hay servicios @(selectMode ? "seleccionados" : "registrados").
    </div>
}

<script>
    /*Funciones y varialbes propias de la implementacion*/
    var totalPorServicios = @(evento.totalPorServicios);
    var editMode = @(editMode?"true":"false");
    var loadingToEdit = editMode;

    function selectForEdition() {
        $("#tblServicios").DataTable().table().rows('[default-selected]').select();
    }

    /*Funciones y variables de seleccion de elementos*/
    var table;
    var COLS_ENUM = Object.freeze({ CANTIDAD:1, ID: 2, ROW_NO: 3, NOMBRE: 4, COSTO: 5})
    var elementosSeleccionados = new Array();
    function inicializarSeleccionTablaServicios(){
        table = $("#tblServicios").DataTable({
            paging:false,
            columnDefs: [{
                orderable: false,
                className: 'select-checkbox',
                targets: 0
            }],
            select: {
                style: 'multiselect',
                selector: 'td:first-child'
            },
            selected: {},
            order: [[2, 'asc']]
        });
        table.on('select', function (e, dt, type, indexes) {
            if(dt){
                var selRow = dt.data()
                agregarSeleccion(selRow)
                @(String.IsNullOrEmpty(externalFunction)? "":externalFunction+ "(elementosSeleccionados)")
            }
        }).on('deselect', function (e, dt, type, indexes) {
            var unSelRows = dt.data();
            removerSeleccion(unSelRows);
            @(String.IsNullOrEmpty(externalFunction)? "":externalFunction+ "(elementosSeleccionados)")
        });
    }

    //Metodo que agrega al estado de elementos seleccionados un nuevo elemento
    function agregarSeleccion(rows) {
        var renglones = new Array();
        if (!rows.rows) { //Si es un solo elemento
            var inputCantidad = $('input[item-id=' + rows[COLS_ENUM.ROW_NO] + ']');
            introducirNuevaCantidad(inputCantidad[0]);
        } else { //Si son varios
            renglones = rows;
            $.each(renglones, function (idx, row) {
                var inputCantidad = $('input[item-id=' + row[COLS_ENUM.ROW_NO] + ']');
                introducirNuevaCantidad(inputCantidad[0]);
            })
        }
    }

    //Metodo que elimina del estado de elementos seleccionados un elemento determinado
    //dentro de los argumentos
    function removerSeleccion(rows) {
        var renglonesAEliminar = new Array();
        if (!rows.rows) {
            renglonesAEliminar.push(rows);
        } else {
            renglonesAEliminar = rows;
        }
        $.each(renglonesAEliminar, function (idx, row) {
            elementosSeleccionados = $.grep(elementosSeleccionados, function (item, idx) {
                //return item.serviciosID == row[COLS_ENUM.ID] //ID del elemento donde se esta implementando
                return item.rowNum == row[COLS_ENUM.ROW_NO] //ID del elemento donde se esta implementando
            }, true)
        })
    }

    function introducirNuevaCantidad(inputCantidad) {
        var selRow = buscarRenglonSeleccionado(inputCantidad)
        //Se el input editado se encontraba seleccionado
        if (selRow)
            introducirNuevoDato(selRow, inputCantidad)
    }

    //Inserta en el arreglo global de elementos seleccionados un nuevo elemento dado el dato seleccionado
    function introducirNuevoDato(dato, inputCantidad) {
        var item_id = $(inputCantidad).attr('item-id');
        var trRow = $("#tblServicios tr[item-id="+item_id+"]");

        var cantidad = currencyToNumber(trRow.find('td input.inputCantidad').val());
        var costo =  currencyToNumber(trRow.find('td input.inputCosto').val());
        
        elementosSeleccionados.push({
            rowNum:item_id,
            serviciosID: dato[COLS_ENUM.ID]==="0"?null:dato[COLS_ENUM.ID],
            nombre: dato[COLS_ENUM.NOMBRE],
            costo: costo,
            cantidad: cantidad,
        })
    }

    //Dado el DOM de un input, Arroja un renglon del datatable que le corresponde.
    function buscarRenglonSeleccionado(input) {
        //Se toman los datos de los renglones seleccionados
        var selectedRows = table.rows({ selected: true });
        var data = selectedRows.data()

        //Se busca si el input editado se encuentra seleccionado
        var selRow = $.grep(data, function (item, idx) {
            return item[COLS_ENUM.ROW_NO] == $(input).attr('item-id');
        })[0];

        return selRow;
    }

    function editarElemento(inputEditado) {
        var item_id = $(inputEditado).attr('item-id');
        var trRow = $(inputEditado).closest('tr');
        var aEditar = elementosSeleccionados.filter(function(item){
            //debugger
            return item.rowNum == parseInt(item_id)
        })[0]
        if(aEditar){
            aEditar.cantidad = currencyToNumber(trRow.find('td input.inputCantidad').val());
            aEditar.costo = currencyToNumber(trRow.find('td input.inputCosto').val());
        }
        @(String.IsNullOrEmpty(externalFunction)? "":externalFunction+ "(elementosSeleccionados)")
    }

    function confirmDelete(servicioID){
        var strURL = "@(Url.Action("Delete","Servicio"))/"+servicioID
        swal({
            title: "¿Estas seguro?",
            text: "Si eliminas este servicio, ya no aparecerá dentro de menu de seleccion de servicios al crear o editar un evento.",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                window.location.href = strURL;
            }
        });
    }
</script>