@model Jerry.Models.Reservacion


@{
    ViewBag.Title = "CreateReservacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Jerry.ViewModels.ReservacionesViewModel> res=new List<Jerry.ViewModels.ReservacionesViewModel>();
    Jerry.ViewModels.ReservacionesViewModel vista = new Jerry.ViewModels.ReservacionesViewModel();

}


<h2>CreateReservacion</h2>


@using (Html.BeginForm("create", "Reservacion"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Reservacion</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Hidden("clienteID")
        @Html.Hidden("fechaReservacion", DateTime.Now)

           

            </div>
        <div class="form-group">
            @Html.LabelFor(model => model.fechaEventoInicial, htmlAttributes: new { @class = "control-label col-md-2" })
   
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaEventoInicial, new { htmlAttributes = new { @class = "form-control", id="fechas"} })
                @Html.ValidationMessageFor(model => model.fechaEventoInicial, "", new { @class = "text-danger" })
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.fechaEventoFinal, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.fechaEventoFinal, new { htmlAttributes = new { @class = "form-control", id = "fechas" } })
                    @Html.ValidationMessageFor(model => model.fechaEventoInicial, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.costo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.costo, new { htmlAttributes = new { @class = "form-control", data_mask = "0000000000.00", data_mask_reverse = "true" } })
                    @Html.ValidationMessageFor(model => model.costo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Detalles, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Detalles, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Detalles, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.salonID, "salonID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("salonID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.salonID, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Reservar" class="btn btn-default" /> 

                </div>
            </div>
        </div>
}


@*@Html.Partial("Partial_Reservaciones")*@




<table class="table" id="tablaCargada">
    <tr>
        <th>
            @Html.DisplayNameFor(r=>vista.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(r=>vista.nombreSalon)
        </th>
        <th>
            @Html.DisplayNameFor(r => vista.fechaEventoInicial)
        </th>
        <th>
            @Html.DisplayNameFor(r => vista.fechaEventoFinal)
        </th>
        <th>
            @Html.DisplayNameFor(r => vista.Detalles)
        </th>

    </tr>

    @foreach (var item in res)
    {
        <tr>
            <td>
                @Html.DisplayFor(R => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(R => item.nombreSalon)
            </td>
            <td>
                @Html.DisplayFor(R => item.fechaEventoInicial)
            </td>

        </tr>
    }

</table>
















@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
            $("input[type='datetime']").datetimepicker();
    </script>
    <script>
            $('input#fechas').blur(function () {
                $.ajax({
                    type: 'GET',
                    url: "@Url.Action("ReservacionesConflictivas", "Reservacion")",
                    success: function (resultado) {
                        //$("#tablaCargada").remove('.rowData');
                        var trs = $("#tablaCargada tr").length;
                        if (trs > 1) {
                            // Eliminamos la ultima columna
                            $("#tablaCargada tr:last").remove();
                        }
                        $("#tablaCargada").parent("tr").remove();
                        var datos = resultado[0];
                        var newR = $('<tr>').addClass('rowData');
                        $('<td>').html(datos.nombre).appendTo(newR);
                        $('<td>').html(datos.nombreSalon).appendTo(newR);
                        $('<td>').html(datos.fechaEventoInicial).appendTo(newR);
                        newR.appendTo("#tablaCargada");
                    }
                });

            });


    </script>
}
