@model Jerry.Models.Reservacion

@{
    ViewBag.Title = "Borrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Borrar</h2>

<h3>¿Desea elimiar la reservación?</h3>
<div>
    <h4>Reservación</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cliente.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salon.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salon.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaReservacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaReservacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaEventoInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaEventoInicial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fechaEventoFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaEventoFinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.costo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detalles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalles)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Borrar", "Index")
        </div>
    }
</div>
