@model Jerry.Models.Reservacion

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Jerry.Models.Correo correo = new Jerry.Models.Correo();
    Jerry.Models.Pago p = new Jerry.Models.Pago();
    correo.To = Model.cliente.email;
}
<h2>Detalles</h2>

<div class="row">
    <div class="col-xs-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.cliente.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cliente.nombre) @Html.DisplayFor(model => model.cliente.apellidoP) @Html.DisplayFor(model => model.cliente.apellidoM)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.salon.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.salon.nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Detalles)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Detalles)
            </dd>

            <dt>
                Fecha del evento
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fechaEventoInicial)
            </dd>
            </dl>
    </div>
    <div class="col-xs-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.costo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.costo)
            </dd>
            <dt>
                @Html.Label("Cantidad Pagada")
            </dt>

            <dd>
                @Html.Display("cantidadPagada")
            </dd>
            <dt>
                @Html.Label("Cantidad Faltante")
            </dt>

            <dd>
                @Html.Display("faltante")
            </dd>
        </dl>

    </div>
</div>


<p class = "hidden-print">
    @Html.ActionLink("Editar", "Edit", new { id = Model.reservacionID }) |
    @Html.ActionLink("Regresar", "Index")
</p>
<p>
<div class="hidden-print">
    @using (Html.BeginForm("create", "Pago"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @*<h4>Pago</h4>*@
            @*<hr />*@
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.Hidden("reservacionID")
            @Html.Hidden("fechaPago", DateTime.Now)
            <div class="form-group">
                @Html.LabelFor(model => model.pagos.FirstOrDefault().cantidad, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => p.cantidad, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.pagos.FirstOrDefault().cantidad, "", new { @class = "text-danger" })
                </div>
            </div>

            <div>
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Pagar" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
</p>

<p>
    <div>
        @Html.Partial("../Pago/Partial_DetallesDePagos")
    </div>
    <div class="hidden-print" style="display: inline-flex;">
        <input type="button" class="hidden-print btn btn-primary"
               onClick="window.print()"
               value="Print Detalles" />
    </div>
</p>
<div class="hidden-print">
    @using (@Html.BeginForm("EnviarCorreo", "Correo", FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data" }))
    {
    @Html.ValidationSummary()
    @Html.Hidden("To",correo.To)

    <table>
        <tr>
            <td>
                Adjuntar estado de cuenta
            </td>
            <td>
                <input type="file" name="fileUploader" />
            </td>
        </tr>
    </table>
    <input type="submit" value="Enviar Correo" />
    }
</div>



@section Scripts 
    {
        
    
    
    }
