@model Jerry.Models.Reservacion

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Jerry.Models.Correo correo = new Jerry.Models.Correo();
    Jerry.Models.Pago p = new Jerry.Models.Pago();
    p.reservacionID = Model.reservacionID;
    correo.To = Model.cliente.email;
    ViewDataDictionary vdd = new ViewDataDictionary();
    if (ViewBag.errorMsg != null)
    {
        vdd.Add("errorMsg", ViewBag.errorMsg);
    }
    vdd.Add("faltante", Model.cantidadFaltante);
}
<a href="@Url.Action("Index")">
    <i class="glyphicon glyphicon-arrow-left"></i> Regresar/Lista de Reservaciones
</a>
<br />
<br />
<div class="panel panel-info">
    <div class="panel-heading">
        <span class="panel-title">
            Información pagos de Reservaciones
        </span>
    </div>
    <div class="panel-body">
        <div>
            <hr />
            <div class="row">
                <div class="col-xs-6">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.cliente.nombre)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.cliente.nombre) @Html.DisplayFor(model => model.cliente.apellidoP) @Html.DisplayFor(model => model.cliente.apellidoM)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.salon.nombre)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.salon.nombre)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Detalles)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Detalles)
                        </dd>

                        <dt>
                            Fecha del evento
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.fechaEventoInicial)
                        </dd>
                    </dl>
                </div>
                <div class="col-xs-6">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.costo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.costo)
                        </dd>
                        <dt>
                            @Html.LabelFor(model => model.cantidadPagada)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.cantidadPagada)
                        </dd>
                        <dt>
                            @Html.LabelFor(model => model.cantidadFaltante)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.cantidadFaltante)
                        </dd>
                    </dl>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <p class = "hidden-print">
            <a href="@Url.Action("Edit", new { id = Model.reservacionID })">
                <i class="fa fa-pencil-square-o"></i> Editar
            </a>
        </p>
    </div>
</div>
@if (Model.cantidadFaltante != 0)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-title">
                Pagos
            </span>
        </div>

        <div class="panel-body">
            <div class="hidden-print">
                @Html.Partial("../Reservacion/Partial_IngresarPago", p, vdd)
            </div>

            <div>
                @Html.Partial("../Pago/Partial_DetallesDePagos")
            </div>
            @*<div class="hidden-print" style="display: inline-flex;">
                    <input type="button" class="hidden-print btn btn-primary"
                            onClick="window.print()"
                            value="Print Detalles" />
                </div>*@
            @*<div class="hidden-print">
                    @using (@Html.BeginForm("EnviarCorreo", "Correo", FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary()
                        @Html.Hidden("To", correo.To)

                        <table>
                            <tr>
                                <td>
                                    Adjuntar estado de cuenta
                                </td>
                                <td>
                                    <input type="file" name="fileUploader" />
                                </td>
                            </tr>
                        </table>
                        <input type="submit" value="Enviar Correo" />
                    }
                </div>*@

        </div>
    </div>
}
else
{
    <div class="alert alert-success">Esta reservación no presenta adeudos</div>
}


    @section Scripts
    {



    }
