@model Jerry.Models.Reservacion.VMFiltroReservaciones
@using Jerry.Models
@using Jerry.GeneralTools

@{
    ViewBag.Title = "Reservaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<Reservacion> resultado = ViewBag.result;

}


@using (Html.BeginForm("Index", "Reservacion", FormMethod.Get, null))
{
    <div class="form-inline">
        <div class="row">
            <div class="form-group col-md-5">
                @Html.LabelFor(model => Model.TimePeriod.startDate)
                @Html.EditorFor(model => Model.TimePeriod.startDate,
           new { htmlAttributes = new { @class = "form-control", } })
            </div>

            <div class="form-group col-md-5">
                @Html.LabelFor(model => Model.TimePeriod.endDate)
                @Html.EditorFor(model => Model.TimePeriod.endDate,
           new { htmlAttributes = new { @class = "form-control", } })
            </div>

            <button id="btnSearch" name="searchVisits" class="btn btn-primary">
                <i class="fa fa-search"></i> Buscar
            </button>
        </div>
    </div>
}
<br/>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Reservaciones</h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-striped datatable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => resultado.FirstOrDefault().cliente.nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => resultado.FirstOrDefault().salon.nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => resultado.FirstOrDefault().fechaReservacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => resultado.FirstOrDefault().fechaEventoInicial)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => resultado.FirstOrDefault().fechaEventoFinal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => resultado.FirstOrDefault().costo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => resultado.FirstOrDefault().Detalles)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in resultado)
        {
            string nombreCompleto = item.cliente.nombre + " " + item.cliente.apellidoP + " " + item.cliente.apellidoM;
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.cliente.nombre) @Html.DisplayFor(modelItem => item.cliente.apellidoP) @Html.DisplayFor(modelItem => item.cliente.apellidoM)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.salon.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fechaReservacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fechaEventoInicial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fechaEventoFinal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.costo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Detalles)
                        </td>
                        <td>
                            <a href="@Url.Action("Details", new { id = item.reservacionID })">
                                <i class="fa fa-list-alt"></i> Detalle
                            </a> <br />
                            <a href="@Url.Action("Edit", new { id = item.reservacionID })">
                                <i class="fa fa-pencil-square-o"></i> Editar
                            </a> <br />
                            <a href="@Url.Action("Delete", new { id = item.reservacionID })">
                                <i class="glyphicon glyphicon-remove"></i> Borrar
                            </a><br/>
                            <a href="@Url.Action("GenerarContrato",new { id = item.reservacionID })">
                                <i class="fa fa-file-word-o" aria-hidden="true"></i> Contrato
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
