@model Jerry.Models.Reservacion.VMFiltroReservaciones
@using Jerry.Models
@using Jerry.GeneralTools

@{
    ViewBag.Title = "Reservaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<Reservacion> resultado = ViewBag.result;

    bool listMode = ViewBag.listMode == null ? false : ViewBag.listMode;
}

<p>
    <a href="@Url.Action("Index",new { listMode = !listMode })">
        @if (!listMode)
        {
            <i class="fa fa-list"></i>
        }
        else
        {
            <i class="fa fa-calendar"></i>
        }
        <span>Ver reservaciones en @(!listMode ? "lista" : "calendario")</span>
    </a>
</p>

@if (listMode) { //Se muestra la forma de vista
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Reservaciones</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Index", "Reservacion", FormMethod.Get, null))
        {
            @Html.Hidden("listMode",false)
            <div>
                <div class="row">
                    <div class="form-group col-md-5">
                        @Html.LabelFor(model => Model.TimePeriod.startDate)
                        @Html.EditorFor(model => Model.TimePeriod.startDate,
           new { htmlAttributes = new { @class = "form-control", } })
                    </div>
                    <div class="form-group col-md-5">
                        @Html.LabelFor(model => Model.TimePeriod.endDate)
                        @Html.EditorFor(model => Model.TimePeriod.endDate,
           new { htmlAttributes = new { @class = "form-control", } })
                    </div>
                    <div class="form-group col-md-2">
                        <br />
                        <button id="btnSearch" name="searchVisits" class="btn btn-primary">
                            <i class="fa fa-search"></i> Filtrar
                        </button>
                    </div>
                </div>
            </div>
        }
        <table class="table table-hover table-striped datatable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => resultado.FirstOrDefault().cliente.nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => resultado.FirstOrDefault().salon)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => resultado.FirstOrDefault().fechaReservacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => resultado.FirstOrDefault().fechaEventoInicial)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => resultado.FirstOrDefault().fechaEventoFinal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => resultado.FirstOrDefault().costo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => resultado.FirstOrDefault().Detalles)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in resultado)
        {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.cliente.nombreCompleto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.salon)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fechaReservacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fechaEventoInicial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fechaEventoFinal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.costo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Detalles)
                        </td>
                        <td>
                            <div class="dropdown_actions">
                                <button onclick="openActionsDropDown(this)"
                                        class="dropbtn btn btn-default">
                                    <i class="glyphicon glyphicon-option-horizontal"></i>
                                </button>
                                <div id="myDropdown" class="dropdown-content">
                                    <a href="@Url.Action("Details", new { id = item.reservacionID })">
                                        <i class="fa fa-list-alt"></i> Detalle
                                    </a>
                                    <a href="@Url.Action("Edit", new { id = item.reservacionID })">
                                        <i class="fa fa-pencil-square-o"></i> Editar
                                    </a>
                                    <a href="@Url.Action("Delete", new { id = item.reservacionID })">
                                        <i class="glyphicon glyphicon-remove"></i> Borrar
                                    </a>
                                    <a href="@Url.Action("GenerarContrato",new { id = item.reservacionID, tipoContrato = item.TipoContrato })">
                                        <i class="fa fa-file-word-o" aria-hidden="true"></i> Contrato
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
}
else
{
    @Html.Partial("Partial_Schedule")

    @section Scripts{
        <script>
    initSchedule()
        </script>
    }
}