@model IEnumerable<Jerry.Models.Reservacion>

<table class="table table-hover table-striped datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.salon.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaReservacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaEventoInicial)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.fechaEventoFinal)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.costo)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.cantidadFaltante)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Detalles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.salon.nombre)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.fechaReservacion)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.fechaEventoInicial)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.fechaEventoFinal)
                </td>

                <td>
                    @Html.DisplayFor(model => item.costo)
                </td>

                <td>
                    @Html.DisplayFor(model => item.cantidadFaltante)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Detalles)
                </td>
                <td>
                    <a href="@Url.Action("Details","Reservacion", new { id = item.reservacionID })">
                        <i class="fa fa-list-alt"></i> Detalle
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
