@model IEnumerable<Jerry.Models.Reservacion>
<table class="table table-hover table-striped datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fechaReservacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaEventoInicial)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.fechaEventoFinal)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.costo)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.cantidadFaltante)
            </th>

            <th style="max-width: 20em">
                @Html.DisplayNameFor(model => model.salon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(res => res.fechaEventoInicial))
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.fechaReservacion)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.fechaEventoInicial)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.fechaEventoFinal)
                </td>

                <td>
                    @Html.DisplayFor(model => item.costo)
                </td>

                <td>
                    @Html.DisplayFor(model => item.cantidadFaltante)
                </td>

                <td style="max-width: 20em">
                    @Html.DisplayFor(modelItem => item.salon)
                </td>
                <td>
                    <div class="dropdown_actions">
                        <button onclick="openActionsDropDown(this)"
                                class="dropbtn btn btn-default">
                            <i class="glyphicon glyphicon-option-horizontal"></i>
                        </button>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="@Url.Action("Details","Reservacion", new { id = item.reservacionID })">
                                <i class="fa fa-credit-card"></i> Pagos
                            </a>
                            <a href="@Url.Action("Edit","Reservacion", new { id = item.reservacionID })">
                                <i class="fa fa-pencil"></i> Editar
                            </a>
                            <a href="@Url.Action("Delete","Reservacion", new { id = item.reservacionID })">
                                <i class="fa fa-remove"></i> Cancelar
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
