@using Jerry.Models
@model Jerry.Models.Reservacion
@{ 
    Model.fechaReservacion = DateTime.Now;
    Model.fechaEventoInicial = DateTime.Now.AddMonths(1);
    Model.fechaEventoFinal = Model.fechaEventoInicial.AddDays(1);
}
@using (Html.BeginForm("create", "Reservacion"))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading" onclick="changeIcon(this)"
             data-toggle="collapse" data-target="#reservasTable">
            <span class="panel-title">
                Crear Reservación
            </span>
            <i class="pull-right fa fa-window-minimize"></i>
        </div>
        <div class="panel-body" id="reservasTable">
            @*Forma de creacion de nueva reservacion*@
            <div class="col-md-12">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.clienteID)
                @Html.HiddenFor(model => model.fechaReservacion)

                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.fechaEventoInicial)
                        @Html.EditorFor(model => model.fechaEventoInicial, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.fechaEventoInicial, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.fechaEventoFinal)
                        @Html.EditorFor(model => model.fechaEventoFinal, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.fechaEventoFinal, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.costo)
                        @Html.EditorFor(model => model.costo, new { htmlAttributes = new { @class = "form-control", data_mask = "0000000000.00", data_mask_reverse = "true" } })
                        @Html.ValidationMessageFor(model => model.costo, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.salonID)
                        @Html.DropDownList("salonID", Salon.getSalonesSelectList(), htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.salonID, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.TipoContrato)
                        @Html.DropDownList("TipoContrato", Reservacion.getTipoContratoSelectList(), htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TipoContrato, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.Detalles, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Detalles, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Detalles, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Reservar" class="btn btn-success" />
                    </div>
                </div>
            </div>
                
        </div>
    </div>
}