@model IEnumerable<Jerry.Models.Reservacion>

<table class="table table-hover table-striped datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.salon.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaReservacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaEventoInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaEventoFinal)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Detalles)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.salon.nombre)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.fechaReservacion)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.fechaEventoInicial)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.fechaEventoFinal)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Detalles)
                </td>
            </tr>
        }
    </tbody>
</table>
