@using Jerry.Models
@using Jerry.GeneralTools
@model Jerry.Models.Evento
@{ 
    VMConfirmModalAttributes vmModalOpts = new VMConfirmModalAttributes
    {
        modalTitle = "Confirmar Eliminación de Pago",
        action = "DeleteConfirmed",
        callType = VMConfirmModalAttributes.CallType.PARTIAL_VIEW,
        controller = "Pago",
        primaryMessage = "Si confirma, eliminará el registro de pago seleccionado.",
        modalID = "modalDeletePago",
        partialViewURL = "../Pago/Partial_DeletePagoConfirm",
        modalStyle = new VMConfirmModalAttributes.Style(VMConfirmModalAttributes.Style.StyleTypes.DANGER)
    };

    bool printMode = ViewData["printMode"] != null ? (bool)ViewData["printMode"] : false;
}

@Html.Partial("Partial_ConfirmationModal", vmModalOpts)

<div> 
    @if (Model.pagos.Count() > 0) { 
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.pagos.FirstOrDefault().pagoID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pagos.FirstOrDefault().cantidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pagos.FirstOrDefault().fechaPago)
                </th>
                @if (!printMode) {
                <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.pagos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.pagoID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cantidad)
                    </td>
                    <td>
                        @item.fechaPago.ToString("dd/MMM/yy")
                    </td>
                    @if (!printMode)
                    {
                    <td class="hidden-print">
                        <a pago_id ='@item.pagoID' pago_monto ="@item.cantidad.ToString("C")" 
                           pago_fecha="@item.fechaPago.ToString("dd/MMM/yyyy")"
                           data-toggle="modal" data-target="#@vmModalOpts.modalID" onclick="prepareModalDeletePago(this)">
                            <i class="glyphicon glyphicon-remove"></i> Borrar
                        </a>
                    </td>
                    }
                </tr>
            }
        </tbody>
    </table>}
    else
    {
        <div class="alert alert-info">No se ha realizado ningún pago para esta reservación</div>
    }
</div>

<script>
    function prepareModalDeletePago(link) {
        link = $(link);
        $('#@(vmModalOpts.modalID) #spanPagoID').html(link.attr('pago_id'))
        $('#@(vmModalOpts.modalID) #spanMonto').html(link.attr('pago_monto'))
        $('#@(vmModalOpts.modalID) #spanPagoFecha').html(link.attr('pago_fecha'))
        $('#@(vmModalOpts.modalID) form').attr('action', '/Pago/Delete/' + link.attr('pago_id'))
    }
</script>
