@model Jerry.Models.Reservacion

<h3>Pagos Realizados</h3>
<p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pagos.FirstOrDefault().cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pagos.FirstOrDefault().fechaPago)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.pagos)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaPago)
                </td>
                <td class="hidden-print">
                    @*@Html.ActionLink("Edit", "Edit","Pago" ,new { id=item.pagoID },"") |
                        @Html.ActionLink("Details", "Details", "Pago", new { id=item.pagoID },"")*@ |
                    @Html.ActionLink("Delete", "Delete", "Pago", new { id = item.pagoID }, "")
                </td>
            </tr>
        }

    </table>
</p>
