@model IEnumerable<Jerry.Models.Salon>

@{
    ViewBag.Title = "Salones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Salones</h2>

<p>
    <a href="@Url.Action("Create")">
        <i class="fa fa-plus-circle"></i><span>Nuevo Salón</span>
    </a>
</p>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Salones</h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-striped ">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.detalles)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.capacidadMaxima)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.detalles)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.capacidadMaxima)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", new { id = item.salonID })">
                                <i class="fa fa-pencil"></i><span>Editar</span>
                            </a> |
                            <a href="@Url.Action("Delete", new { id = item.salonID })">
                                <i class="glyphicon glyphicon-remove"></i><span>Borrar</span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

